/**
 * Theme Name: devtheme-2018
 * Author: Shane Schroll
 * Version: 0.1
 */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

html, body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5;
  background: #FFF; }

body {
  font-family: "Tajawal", Helvetica, sans-serif; }

.site-wrap {
  width: 75rem;
  max-width: 100%;
  margin: 1rem auto 0; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

/* Typography styles for site */
.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
  font-family: "Nunito", Helvetica, sans-serif;
  font-weight: bold;
  color: #3B5998; }

h1, .h1-heading {
  font-size: 3rem; }

h2, .h2-heading {
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    h2, .h2-heading {
      font-size: 2rem; } }

h3, .h3-heading {
  font-size: 1.5rem; }

h4, .h4-heading {
  font-size: 1.25rem; }

h5, .h5-heading {
  font-size: 1rem; }

h6, .h6-heading {
  font-size: 0.75rem; }

p {
  font-weight: normal;
  font-family: "Tajawal", Helvetica, sans-serif;
  font-size: 1rem;
  color: #4A4A4A; }

/* Global Button Styles */
.learn-more-button,
.learn-more-inverted {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.3rem 0.8rem;
  text-align: center;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out; }
  .learn-more-button:hover,
  .learn-more-inverted:hover {
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }

.learn-more-button {
  background-color: #FFF;
  border: 2px solid #3B5998;
  color: #3B5998; }
  .learn-more-button:hover {
    background-color: #3B5998;
    color: #FFF; }

.learn-more-inverted {
  background-color: transparent;
  border: 2px solid #FFF;
  color: #FFF; }
  .learn-more-inverted:hover {
    background-color: #FFF;
    color: #3B5998; }

.top-container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #9B9B9B; }
  @media (min-width: 62.5em) {
    .top-container {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

@media (min-width: 62.5em) {
  .navbar-wrap {
    max-width: 100%; }
    .navbar-wrap > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .navbar-wrap ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .navbar-wrap ul a {
        display: block;
        font-size: 0.9rem;
        text-decoration: none;
        color: #4A4A4A;
        font-weight: bold;
        padding: .3rem 1rem;
        text-transform: uppercase; }
        .navbar-wrap ul a:hover {
          -webkit-transition: 0.4s ease all;
          -o-transition: 0.4s ease all;
          transition: 0.4s ease all;
          background: #3B5998;
          color: #FFF; }
      .navbar-wrap ul li {
        display: block;
        margin-right: 2rem;
        position: relative; }
      .navbar-wrap ul li:hover > .sub-menu {
        display: block;
        background-color: #FFF; }
      .navbar-wrap ul li:hover > {
        color: #FFF; }
      .navbar-wrap ul .sub-menu {
        display: none;
        position: absolute;
        left: 0;
        z-index: 5;
        border: 1px solid #3B5998;
        min-width: 11rem;
        padding: 0.8rem; }
        .navbar-wrap ul .sub-menu li {
          display: block;
          margin-right: 0;
          border-bottom: 1px solid #dfe3ee; }
        .navbar-wrap ul .sub-menu a {
          display: block;
          -webkit-transition: 0.1s ease-out;
          -o-transition: 0.1s ease-out;
          transition: 0.1s ease-out; }
    .navbar-wrap li.menu-item-has-children:hover > a {
      background: #3B5998;
      color: #FFF; }
    .navbar-wrap > ul > li.menu-item-has-children > a {
      z-index: 10;
      position: relative; }
  .current-menu-item {
    background-color: #3B5998; }
  .navbar-wrap ul .current-menu-item a {
    color: #FFF; } }

.navbar-title {
  color: #3B5998;
  text-transform: uppercase;
  margin-left: 2rem; }
  .navbar-title span {
    font-weight: normal; }
  .navbar-title a {
    color: #3B5998; }
    .navbar-title a:hover {
      color: #3B5998; }

.logo-box {
  display: none; }
  @media (min-width: 1023px) {
    .logo-box {
      display: block;
      position: relative;
      margin-left: 2rem;
      margin-top: 0.2rem; }
      .logo-box a {
        position: absolute;
        top: 0;
        left: 0; }
        .logo-box a img {
          width: 100px;
          height: 55px; } }

#menu-toggle {
  display: none; }

@media (max-width: 62.5em) {
  .navbar-title {
    display: none; }
  #menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    margin: 0 0 1rem 1rem;
    color: #3B5998;
    font-size: 1.5rem;
    border: none; }
    #menu-toggle:hover {
      cursor: pointer; }
    #menu-toggle img {
      margin-right: 1rem;
      color: #3B5998;
      max-width: 2rem;
      height: 2rem; }
    #menu-toggle span {
      display: inline-block;
      padding-top: 0.2rem;
      margin-top: 0.4rem; }
  .navbar-wrap {
    width: 100%; }
  #primary-menu {
    width: 100%;
    list-style: none;
    display: none;
    max-width: 20rem; }
    #primary-menu.menu-open {
      display: block; }
    #primary-menu li {
      display: block; }
    #primary-menu a {
      display: block;
      padding: .5rem 0;
      color: #4A4A4A;
      text-decoration: none;
      text-transform: uppercase; }
    #primary-menu #menu-item-140 > a {
      display: none; }
    #primary-menu ul.sub-menu {
      padding-left: 0; } }

.footer-wrapper {
  max-width: 100%; }

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  border-top: 1px solid #9B9B9B; }
  @media (min-width: 768px) {
    .footer-box {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .footer-box__left {
    margin-top: 0.3rem;
    opacity: 0.7; }
    @media (min-width: 768px) {
      .footer-box__left {
        opacity: 1; } }
    .footer-box__left p {
      display: inline-block;
      margin-bottom: 0;
      padding-bottom: 0; }
      @media (min-width: 768px) {
        .footer-box__left p {
          display: inline; } }
  .footer-box__center {
    margin-top: 0.3rem; }
    .footer-box__center p {
      display: inline-block;
      margin-bottom: 0;
      padding-bottom: 0; }
      @media (min-width: 768px) {
        .footer-box__center p {
          display: inline; } }
  .footer-box__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 10rem;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .footer-box__right {
        margin: 0; } }
    .footer-box__right a {
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      background-color: #FFF;
      border: 1px solid #3B5998;
      text-align: center;
      color: #3B5998; }
      .footer-box__right a:hover {
        background-color: #3B5998;
        color: #FFF;
        -webkit-transition: 0.3s ease-out;
        -o-transition: 0.3s ease-out;
        transition: 0.3s ease-out; }
      .footer-box__right a span {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin: 0 auto;
        margin-top: 0.4rem; }
        @media (min-width: 768px) {
          .footer-box__right a span {
            margin-top: 0; } }

/* front page specific styles */
.home-container {
  max-width: 100%;
  margin: 1rem auto; }

.home-header-text {
  margin: 0 auto; }
  .home-header-text h2 {
    text-align: center;
    padding-bottom: 1rem; }

.cta-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (min-width: 785px) {
    .cta-cards {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media (min-width: 1023px) {
    .cta-cards {
      padding: 0 3rem; } }
  @media (min-width: 1200px) {
    .cta-cards {
      padding: 0; } }
  .cta-cards__card {
    max-width: 23rem;
    background-color: #FFF;
    margin-bottom: 1.5rem; }
    .cta-cards__card img {
      width: 100%;
      max-height: 13.5rem; }
    .cta-cards__card--info {
      padding: 1rem; }
      .cta-cards__card--info .svg-icon {
        display: inline-block; }
        .cta-cards__card--info .svg-icon .h3-heading {
          display: inline-block;
          color: #3B5998;
          margin-top: 0;
          margin-bottom: 0; }
        .cta-cards__card--info .svg-icon span svg {
          width: 3.2rem;
          height: 3.2rem;
          position: relative;
          top: 1rem;
          left: 1rem; }
      .cta-cards__card--info p {
        text-align: left;
        padding-top: 0.5rem;
        padding-bottom: 1rem; }
        @media (min-width: 768px) {
          .cta-cards__card--info p {
            min-height: 9rem; } }

.fw-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: rgba(59, 89, 152, 0.8);
  position: relative;
  left: 50%;
  margin-left: -50vw; }
  .fw-banner__inner {
    max-width: 16rem;
    text-align: center; }
    .fw-banner__inner p {
      color: #FFF;
      margin-top: 0;
      padding-bottom: 0;
      font-weight: bold;
      letter-spacing: 1px; }

.contact-wrapper {
  max-width: 100%;
  margin: 1rem auto 0;
  padding: 1.2rem; }
  @media (min-width: 768px) {
    .contact-wrapper {
      margin: 5rem auto 0; } }
  .contact-wrapper h1 {
    font-size: 2rem;
    margin: 0; }
    .contact-wrapper h1:last-of-type {
      margin-top: 1.5rem; }

.about-wrapper, .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .about-wrapper, .contact-form {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: initial;
      -ms-flex-align: initial;
      align-items: initial;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.about-wrapper--para {
  max-width: 35rem;
  padding-right: 2rem; }
  .about-wrapper--para p {
    text-align: left; }

.contact-form--gform {
  max-width: 20rem;
  padding-bottom: 2rem; }
  .contact-form--gform .gform_wrapper {
    margin-top: 0; }
    .contact-form--gform .gform_wrapper .gform_body ul li {
      margin-top: 0; }
    .contact-form--gform .gform_wrapper #field_1_1 {
      margin-bottom: 1.7rem;
      width: 18rem; }
      @media (min-width: 480px) {
        .contact-form--gform .gform_wrapper #field_1_1 {
          width: 25rem; } }

.contact-form--center-image, .contact-form--right-image, .contact-form--center-video, .contact-form--right-video {
  max-width: 20rem; }
  @media (min-width: 768px) {
    .contact-form--center-image, .contact-form--right-image, .contact-form--center-video, .contact-form--right-video {
      width: 25rem; }
      .contact-form--center-image img, .contact-form--center-image iframe, .contact-form--right-image img, .contact-form--right-image iframe, .contact-form--center-video img, .contact-form--center-video iframe, .contact-form--right-video img, .contact-form--right-video iframe {
        width: 100%;
        min-height: 13.1rem !important; } }

.service-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.8rem; }

.service-content {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  min-height: 10rem;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 768px) {
    .service-content {
      max-width: 50rem;
      min-height: 24rem; } }
  .service-content h1 {
    color: #FFF;
    margin-top: 0;
    padding-top: 2.5rem; }
    @media (min-width: 768px) {
      .service-content h1 {
        padding-top: 10rem; } }

.service-para {
  max-width: 55rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem; }
  @media (min-width: 1023px) {
    .service-para {
      padding-bottom: 5rem;
      padding-top: 3rem; } }

.video-wrapper {
  max-width: 100%;
  margin: 0 auto; }
  .video-wrapper--one-video {
    text-align: center;
    margin-bottom: 1.5rem; }
    .video-wrapper--one-video iframe {
      width: 22rem;
      height: 12rem; }
      @media (min-width: 768px) {
        .video-wrapper--one-video iframe {
          width: 35rem;
          height: 20.5rem; } }
  .video-wrapper--two-videos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 1023px) {
      .video-wrapper--two-videos {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: initial;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    .video-wrapper--two-videos iframe {
      width: 22rem;
      height: 12rem;
      margin-bottom: 1.5rem; }
      @media (min-width: 768px) {
        .video-wrapper--two-videos iframe {
          width: 35rem;
          height: 20.5rem;
          padding: 0 0.5rem; } }

.gallery-wrapper {
  max-width: 75rem;
  margin: 0 auto; }
  .gallery-wrapper .gallery {
    max-width: 100%;
    margin: 0 aut0; }

.faq-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem; }

.faqs-title {
  max-width: 100%;
  margin: 1.5rem auto;
  text-align: center; }

.faqs-main {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem; }
  .faqs-main .accordion {
    position: relative;
    max-width: 45rem;
    margin: 0 auto 1rem;
    background-color: #3B5998;
    color: #FFF; }
    .faqs-main .accordion input[type=checkbox] {
      position: absolute;
      opacity: 0;
      z-index: -1; }
    .faqs-main .accordion-label {
      display: block;
      position: relative;
      cursor: pointer;
      padding: 1rem; }
      .faqs-main .accordion-label:after {
        position: absolute;
        display: block;
        top: 0.9rem;
        right: 0;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.2rem;
        text-align: center;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        line-height: 1; }
    .faqs-main .accordion input[type=checkbox]:checked ~ .accordion--content {
      max-height: 100vh; }
    .faqs-main .accordion--content {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height 0.3s;
      -o-transition: max-height 0.3s;
      transition: max-height 0.3s;
      background-color: #6c8acc; }
      .faqs-main .accordion--content p {
        margin: 0.5rem;
        padding: 0.1rem;
        color: #FFF; }
    .faqs-main .accordion input[type=checkbox] + .accordion-label:after {
      content: '+'; }
    .faqs-main .accordion input[type=checkbox]:checked + .accordion-label:after {
      -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
      transform: rotate(315deg); }

/*# sourceMappingURL=style.css.map */