{% extends 'base.twig' %}

{% block belowheader %}
{% endblock %}

{% block content %}
<section class="contact-wrapper">

	<h1>Contact</h1>
	<div class="contact-form">
		<div class="contact-form--gform">
			{{ function('load_gravity_form_1') }} {# for gforms shortcode #}
		</div>

		{# set vars for image OR video containers #}
		{% set imageCenter = post.get_field('center_image') %}
		{% set imageRight = post.get_field('right_image') %}
		{% set videoCenter = post.get_field('youtube_embed_one') %}
		{% set videoRight = post.get_field('youtube_embed_two') %}

		{% if imageCenter and imageRight %}
			<div class="contact-form--center-image">
				<img src="{{ TimberImage( imageCenter ).src }}" alt="{{ TimberImage( imageCenter ).alt }}">
			</div>

			<div class="contact-form--right-image">
				<img src="{{ TimberImage( imageRight ).src }}" alt="{{ TimberImage( imageRight ).alt }}">
			</div>

		{% elseif videoCenter and imageRight %}
			<div class="contact-form--center-video">
				<iframe allowfullscreen src="https://www.youtube.com/embed/{{ videoCenter }}" frameborder="none"></iframe>
			</div>

			<div class="contact-form--right-image">
				<img src="{{ TimberImage( imageRight ).src }}" alt="{{ TimberImage( imageRight ).alt }}">
			</div>

		{% elseif imageCenter and videoRight %}
			<div class="contact-form--center-image">
				<img src="{{ TimberImage( imageCenter ).src }}" alt="{{ TimberImage( imageCenter ).alt }}">
			</div>

			<div class="contact-form--right-video">
				<iframe allowfullscreen src="https://youtube.com/embed/{{ videoRight }}" frameborder="none"></iframe>
			</div>

		{% elseif videoCenter and videoRight %}
			<div class="contact-form--center-video">
				<iframe allowfullscreen src="https://youtube.com/embed/{{ videoCenter }}" frameborder="none"></iframe>
			</div>

			<div class="contact-form--right-video">
				<iframe allowfullscreen src="https://youtube.com/embed/{{ videoRight }}" frameborder="none"></iframe>
			</div>
		{% endif %}

	</div> {# end /.[contact-form] #}

	<h1>About Kyle</h1>
	<div class="about-wrapper">

		<div class="about-wrapper--para">
			{% for aboutInfo in post.get_field('about_information') %}
				<p>{{ aboutInfo.about_paragraph }}</p>
			{% endfor %}
		</div>

		<div class="about-wrapper--image">
			<img src="{{ TimberImage( post.about_image ).src }}" alt="{{ TimberImage( post.about_image ).alt }}" style="width: 30rem;">
		</div>

	</div> {# end /.[about-wrapper] #}

</section> {# end /.[contact-wrapper] #}
{% endblock %}