{% extends 'base.twig' %}

{% block belowheader %}
{% endblock %}

{% block content %}
<section class="faq-wrapper">
	<div class="service-content" style="background-image: url('{{ TimberImage( post.header_image_faq ).src }}'); margin-top: 1rem;">
	</div>
</section>

<h1 class="faqs-title">{{ post.title }}</h1>

<div class="faqs-main">
	{% set faqs = post.get_field('faqs_section') %}
	{% set count = 1 %}

	{% for faq in faqs %}
		<div class="accordion">
			<input id="accordion-{{ count }}" type="checkbox" name="expand">
			<label for="accordion-{{ count }}" class="accordion-label">{{ faq.question }}</label>

			<div class="accordion--content">
				<p>{{ faq.answer }}</p>
			</div>

		</div> {# /.[accordion]#}
		{% set count = count + 1 %}
	{% endfor %}

</div>
{% endblock %}