{% block footer %}
<section class="footer-wrapper">
	<div class="footer-box">
		<div class="footer-box__left">
			<p>Site created by Shane Schroll</p>
		</div>

		<div class="footer-box__center">
			<p>Dads Eye View - {{ year }}</p>
		</div>

		<div class="footer-box__right">
			<a href="https://www.facebook.com/dadseyeview/"><span class="fa fa-facebook"></span></a>
			<a href="https://www.youtube.com/channel/UCDzjoB3s1eOmIbNc84ffigQ"><span class="fa fa-youtube-play"></span></a>
			<a href="tel:17854738050"><span class="fa fa-phone"></span></a>
		</div>
	</div> {# /.footer-box #}
</section> {# /.footer-wrapper #}
{% endblock %}