{% extends "base.twig" %}

{% block belowheader %}

{% endblock %}

{% block content %}
<section class="home-container">

	<div class="home-header-text">
		<h2>Professional Photography, Videography and Drone Work</h2>
	</div>

{% set count = 1 %}
	<div class="cta-cards">
		{% for service in post.get_field('service_cta_cards') %}
			<div class="cta-cards__card">
				<img src="{{ TimberImage( service.card_image ).src }}" alt="{{ TimberImage( service.card_image ).alt }}">
				<div class="cta-cards__card--info">
					<div class="svg-icon">
						<h3 class="h3-heading">{{ service.card_header_text }}</h3>

						{# <span>
							{% if count == 1 %}
								{{ source('static/images/Wedding Icon Colored.svg') }}
							{% endif %}

							{% if count == 2 %}
								{{ source('static/images/Drone Icon Colored.svg') }}	
							{% endif %}

							{% if count == 3 %}
								{{ source('static/images/Real Estate Colored.svg') }}
							{% endif %}
						</span> #}
					</div>
					<p>{{ service.card_paragraph_text }}</p>
					<a class="learn-more-button" href="{{ service.card_button_link }}">View Service</a>
				</div>
			</div>
			{% set count = count + 1 %}
		{% endfor %}
	</div> {# /.cta-cards #}

	<div class="fw-banner">
		<div class="fw-banner__inner">
			<p>Check out my prints for sale!</p>
			<a class="learn-more-inverted" href="/order-prints/">Learn More</a>
		</div>
	</div> {# /.fw-banner #}

	<div class="cta-cards">
	{% set count = 1 %}
		{% for service in post.get_field('service_cta_cards_two') %}
			<div class="cta-cards__card">
				<img src="{{ TimberImage( service.card_image ).src }}" alt="{{ TimberImage( service.card_image ).alt }}">
				<div class="cta-cards__card--info">
					<div class="svg-icon">
						<h3 class="h3-heading">{{ service.card_header_text }}</h3>

						{# <span>
							{% if count == 1 %}
								{{ source('static/images/Kansas Icon Colored.svg') }}
							{% endif %}

							{% if count == 2 %}
								{{ source('static/images/Colored Special Events Icon.svg') }}
							{% endif %}

							{% if count == 3 %}
								{{ source('static/images/Videography Icon Colored.svg') }}
							{% endif %}
						</span> #}
					</div>
					<p>{{ service.card_paragraph_text }}</p>
					{% if service.card_header_text == 'Grand Kansas Adventure' %}
						<a class="learn-more-button" href="{{ service.card_button_link }}">Learn More</a>
					{% else %}
						<a class="learn-more-button" href="{{ service.card_button_link }}">View Service</a>
					{% endif %}
					
				</div>
			</div>
			{% set count = count + 1 %}
		{% endfor %}
	</div> {# /.cta-cards #}

</section>
{% endblock %}