{% block header %}
<div class="top-container">
	<div class="navbar-title h3-heading">
		<a href="/">Dads Eye <span>View</span></a>
	</div>
	<nav class="navbar-wrap" role="navigation">
		<button id="menu-toggle"><img src="{{ theme.link }}/static/images/menu-icon.png"><span>Dads Eye View</span></button>
		{{ function('dev_render_primary_menu') }}
	</nav>
</div>

<div class="logo-box">
	<a href="/"><img src="{{ theme.link }}/static/images/dev-logo.png" alt="Dads Eye View Logo"></a>
</div>
{% endblock %}