<!doctype html>
<!--[if gt IE 8]><!--><html class="" lang="en"> <!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ function('wp_head') }}
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700|Tajawal:400,700" rel="stylesheet">