{% extends "base.twig" %}

{% block belowheader %}

{% endblock %}

{% block content %}

	<div class="service-wrapper">
		<div class="service-content" style="background-image: url('{{ TimberImage( post.service_image ).src }}');">
		</div>

		<h1 style="text-align: center; margin-bottom: 0; color: black;">{{ post.title }}</h1>
		<p class="service-para">{{ post.service_paragraph }}</p>

		<div class="video-wrapper">
			{# save acf info into vars, then check if a value is present in the current context #}
			{% set video1 = post.service_video_embed %}
			{% set video2 = post.service_video_embed_2 %}

			{% if video1 and video2 == null %}
			<div class="video-wrapper--one-video">
				<iframe allowfullscreen src="https://www.youtube.com/embed/{{ post.service_video_embed }}" frameborder="none"></iframe>
			</div>
			{% elseif video2 %}
			<div class="video-wrapper--two-videos">
				<iframe allowfullscreen src="https://www.youtube.com/embed/{{ post.service_video_embed }}" frameborder="none"></iframe>
				<iframe allowfullscreen src="https://www.youtube.com/embed/{{ post.service_video_embed_2 }}" frameborder="none"></iframe>
			</div>
			{% elseif not video1 and not video2 %}
				{# don't render - video wrapper has margin/padding built in for this #}
			{% endif %}
		</div> {# /.video-wrapper #}
	</div>

	<div class="gallery-wrapper"> {# grab gallery shortcode from content editor #}
		<div class="gallery">{{ post.content }}</div>
	</div>
{% endblock %}