/* Global Button Styles */

.learn-more-button,
.learn-more-inverted {
	display: inline-block;
	font-size: 0.8rem;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.3rem 0.8rem;
	text-align: center;
	transition: 0.3s ease-out;

	&:hover {
		transition: 0.3s ease-out;
	}
}

.learn-more-button {
	background-color: $white;
	border: 2px solid $facebook-blue;
	color: $facebook-blue;

	&:hover {
		background-color: $facebook-blue;
		color: $white;
	}
}

.learn-more-inverted {
	background-color: transparent;
	border: 2px solid $white;
	color: $white;

	&:hover {
		background-color: $white;
		color: $facebook-blue;
	}
}