.contact-wrapper {
	max-width: 100%;
	margin: 1rem auto 0;
	padding: 1.2rem;

	@include bp(sm) {
		margin: 5rem auto 0;
	}

	h1 {
		font-size: 2rem;
		margin: 0;

		&:last-of-type {
			margin-top: 1.5rem;
		}
	}
}

// base layout for both sections
.about-wrapper, .contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	@include bp(sm) {
		flex-direction: row;
		align-items: initial;
		justify-content: space-between;
	}
}

// about section specific styles
.about-wrapper {

	&--para {
		max-width: 35rem;
		padding-right: 2rem;

		p {
			text-align: left;
		}
	}
}

// contact section specific styles
.contact-form {

	// Gravity Form Layout (uses shortcode)
	&--gform {
		max-width: 20rem;
		padding-bottom: 2rem;

		// Gravity Form ID: 1
		.gform_wrapper {
			margin-top: 0;

			.gform_body ul li {
				margin-top: 0;
			}

			#field_1_1 {
				margin-bottom: 1.7rem;
				width: 18rem;

				@include bp(xs) {
					width: 25rem;
				}
			}
		}
	} // end [--form]

	&--center-image, &--right-image, &--center-video, &--right-video {
		max-width: 20rem;

		@include bp(sm) {
			width: 25rem;

			img, iframe {
				width: 100%;
				min-height: 13.1rem !important;
			}
		}
	}
}