// Accordion styles for faqs
.faq-wrapper {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

.faqs-title {
	max-width: 100%;
	margin: 1.5rem auto;
	text-align: center;
}

.faqs-main {
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;

	// Individual Accordion Styles
	.accordion {
		position: relative;
		max-width: 45rem;
		margin: 0 auto 1rem;
		background-color: $facebook-blue;
		color: $white;

		input[type=checkbox] {
			position: absolute;
			opacity: 0;
			z-index: -1;
		}

		&-label {
			display: block;
			position: relative;
			cursor: pointer;
			padding: 1rem;

			&:after {
				position: absolute;
				display: block;
				top: 0.9rem;
				right: 0;
				width: 1.5rem;
				height: 1.5rem;
				font-size: 1.2rem;
				text-align: center;
				transition: all 0.3s;
				line-height: 1;
			}
		}

		// expand to max height when the checkbox is checked
		input[type=checkbox]:checked ~ .accordion--content {
			max-height: 100vh;
		}

		&--content {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s;
			background-color: $fb-accordion;

			p {
				margin: 0.5rem;
				padding: 0.1rem;
				color: $white;
			}
		}

		// add the + symbol after the label (keeps in place when rotating)
		input[type=checkbox] + .accordion-label:after {
			content: '+';
		}

		input[type=checkbox]:checked + .accordion-label:after {
			transform: rotate(315deg);
		}
	}
}