.footer-wrapper {
	max-width: 100%;
}

.footer-box {
	display: flex;
	max-width: 100%;
	margin: 0 auto;
	padding: 1rem 2rem;
	justify-content: center;
	text-align: center;
	flex-direction: column-reverse; // put copyright and branding below social icons
	border-top: 1px solid $light-grey;

	@include bp(sm) {
		flex-direction: row;
		justify-content: space-between;
	}

	// branding
	&__left {
		margin-top: 0.3rem;
		opacity: 0.7;

		@include bp(sm) {
			opacity: 1;
		}

		p {
			display: inline-block;
			margin-bottom: 0;
			padding-bottom: 0;

			@include bp(sm) {
				display: inline;
			}
		}
	}

	&__center {
		margin-top: 0.3rem;
		
		p {
			display: inline-block;
			margin-bottom: 0;
			padding-bottom: 0;

			@include bp(sm) {
				display: inline;
			}
		}
	}

	// social icons
	&__right {
		display: flex;
		justify-content: space-between;
		width: 10rem;
		margin: 0 auto;

		@include bp(sm) {
			margin: 0;
		}

		a {
			width: 1.8rem;
			height: 1.8rem;
			border-radius: 50%;
			background-color: $white;
			border: 1px solid $facebook-blue;
			text-align: center;
			color: $facebook-blue;

			&:hover {
				background-color: $facebook-blue;
				color: $white;
				transition: 0.3s ease-out;
			}

			span {
				display: inline-block;
				position: relative;
				vertical-align: middle;
				margin: 0 auto;
				margin-top: 0.4rem;

				@include bp(sm) {
					margin-top: 0;
				}
			}
		}
	} // end [__right]
} // end .footer-box 