* {
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

html, body {
    -webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.5;
	background: $white;
}

body {
	font-family: $font-body;
}

.site-wrap {
	width: 75rem; // 1200px
	max-width: 100%;
	margin: 1rem auto 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}