.top-container {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 1px solid $light-grey;

	@include mq($desktop){
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

@include mq($from: $desktop) {
	.navbar-wrap {
		max-width: 100%;

		> ul {
			display: flex;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			a {
				display: block;
				font-size: 0.9rem;
				text-decoration: none;
				color: $dark-grey;
				font-weight: bold;
				padding: .3rem 1rem; 
				text-transform: uppercase;

				&:hover {
					transition: 0.4s ease all;
					background: $facebook-blue;
					color: $white;
				}
			}

			li {
				display: block;
				margin-right: 2rem;
				position: relative;
			}

			li:hover > .sub-menu {
				display: block;
				background-color: $white;
			}
		
			li:hover > { color: $white; }
		
			// hierarchy -	.navbar ul ul
			.sub-menu {
				display: none;
				position: absolute;
				left: 0;
				z-index: 5;
				border: 1px solid $facebook-blue;
				min-width: 11rem;
				padding: 0.8rem;
		
				li {
					display: block;
					margin-right: 0;
					border-bottom: 1px solid $facebook-light;
				}
		
				a {
					display: block;
					transition: 0.1s ease-out;
				}
			}
		}

		li.menu-item-has-children:hover {
			> a {
				background: $facebook-blue;
				color: $white;
			}
		}

		> ul > li.menu-item-has-children > a {
			z-index: 10;
			position: relative;
		}
	}

	// Change the current menu item color for desktop only
	.current-menu-item {
		background-color: $facebook-blue;
	}
	
	.navbar-wrap ul .current-menu-item a {
		color: $white;
	}
}

.navbar-title {
	color: $facebook-blue;
	text-transform: uppercase;
	margin-left: 2rem; // to match nav <li>
	
	span {
		font-weight: normal;
	}

	a {
		color: $facebook-blue;

		&:hover {
			color: $facebook-blue;
		}
	}
}

.logo-box {
	display: none;

	@include bp(md) {
		display: block;
		position: relative;
		margin-left: 2rem;
		margin-top: 0.2rem;

		a {
			position: absolute;
			top: 0;
			left: 0;

			img {
				width: 100px;
				height: 55px;
			}
		}
	}
}

#menu-toggle {
	display: none;
}

@include mq($until: $desktop) {
	.navbar-title {
		display: none;
	}

	#menu-toggle {
		display: flex;
		align-items: center;
		background: transparent; // ugly grey box on IE w/o this
		margin: 0 0 1rem 1rem;
		color: $facebook-blue;
		font-size: 1.5rem;
		border: none;

		&:hover {
			cursor: pointer;
		}

		img {
			margin-right: 1rem;
			color: $facebook-blue;
			max-width: 2rem;
			height: 2rem;
		}

		span {
			display: inline-block;
			padding-top: 0.2rem;
			margin-top: 0.4rem;
		}
	}

	.navbar-wrap {
		width: 100%;
	}

	#primary-menu {
		width: 100%;
		list-style: none;
		display: none;
		max-width: 20rem;

		&.menu-open {
			display: block;
		}

		li {
			display: block;
		}

		a {
			display: block;
			padding: .5rem 0;
			color: $dark-grey;
			text-decoration: none;
			text-transform: uppercase;
		}

		// hide "services" on mobile (menu item is 128 on local)
		#menu-item-140 {
			> a {
				display: none;
			}
		}

		ul.sub-menu {
			padding-left: 0;
		}
	}
}