/* front page specific styles */
.home-container {
	max-width: 100%;
	margin: 1rem auto;
}

.home-header-text {
	margin: 0 auto;

	h2 {
		text-align: center;
		padding-bottom: 1rem;
	}
}

.cta-cards {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 100%;
	flex-wrap: wrap;

	@include bp(785px) {
		flex-direction: row;
		justify-content: space-between;
	}

	@include bp(md) {
		padding: 0 3rem;
	}

	@include bp(lg) {
		padding: 0;
	}

	&__card {
		max-width: 23rem;
		background-color: $white;
		margin-bottom: 1.5rem;
		// border-bottom: 1px solid rgba($facebook-blue, 0.3);

		// @include bp(xs) {
		// 	border: 1px solid rgba($facebook-blue, 0.3);
		// }

		img {
			width: 100%;
			max-height: 13.5rem;
		}

		&--info {
			padding: 1rem;

			.svg-icon {
				display: inline-block;

				.h3-heading {
					display: inline-block;
					color: $facebook-blue;
					margin-top: 0;
					margin-bottom: 0;
				}
	
				span svg {
					width: 3.2rem;
					height: 3.2rem;
					position: relative;
					top: 1rem;
					left: 1rem;
				}
			}

			p {
				text-align: left;
				padding-top: 0.5rem;
				padding-bottom: 1rem;
				@include bp(sm) { min-height: 9rem; }
			}
		}
	} // end [__card]
} // end [cta-cards]

.fw-banner {
	display: flex;
	width: 100vw;
	justify-content: center;
	padding: 1rem;
	margin-bottom: 1.5rem;
	background-color: rgba($facebook-blue, 0.8);
	position: relative;
	left: 50%;
	margin-left: -50vw;

	// inner section of content block
	&__inner {
		max-width: 16rem;
		text-align: center;
	
		p {
			color: $white;
			margin-top: 0;
			padding-bottom: 0;
			font-weight: bold;
			letter-spacing: 1px;
		}
	}
}