// [page.twig] styles
.service-wrapper {
	max-width:100%;
	margin: 0 auto;
	padding: 0.8rem;
}

.service-content {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 100%;
	min-height: 10rem;
	margin: 0 auto;
	text-align: center;

	@include bp(sm) {
		max-width: 50rem;
		min-height: 24rem;
	}

	h1 {
		color: $white;
		margin-top: 0;
		padding-top: 2.5rem;

		@include bp(sm) {
			padding-top: 10rem;
		}
	}
}

.service-para {
	max-width: 55rem;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 1rem;

	@include bp(md) {
		padding-bottom: 5rem;
		padding-top: 3rem
	}
}

.video-wrapper {
	max-width: 100%;
	margin: 0 auto;
	
	&--one-video {
		text-align: center;
		margin-bottom: 1.5rem;

		iframe {
			width: 22rem;
			height: 12rem;

			@include bp(sm) {
				width: 35rem;
				height: 20.5rem;
			}
		}
	}

	&--two-videos {
		display: flex;
		max-width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include bp(md) {
			flex-direction: row;
			align-items: initial;
			justify-content: space-between;
		}

		iframe {
			width: 22rem;
			height: 12rem;
			margin-bottom: 1.5rem;

			@include bp(sm) {
				width: 35rem;
				height: 20.5rem;
				padding: 0 0.5rem;
			}
		}
	}
}

// nextGen Gallery Plugin area styles
.gallery-wrapper {
	max-width: 75rem;
	margin: 0 auto;

	.gallery {
		max-width: 100%;
		margin: 0 aut0;
	}
}