/* Typography styles for site */

// heading styles
.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading,
h1, h2, h3,
h4, h5, h6 {
	font-family: $font-head;
	font-weight: bold;
	color: $facebook-blue;
}

// h1 -- 48px
h1, .h1-heading {
	font-size: 3rem;
}

// h2 -- 32px
h2, .h2-heading {
	font-size: 1.5rem;

	@include bp(sm) {
		font-size: 2rem;
	}
}

// h3 -- 24px
h3, .h3-heading {
	font-size: 1.5rem;
}

// h4 -- 20px
h4, .h4-heading {
	font-size: 1.25rem;
}

// h5 -- 16px
h5, .h5-heading {
	font-size: 1rem;
}

// h6 -- 12px
h6, .h6-heading {
	font-size: 0.75rem;	
}

// paragraph styles
p {
	font-weight: normal;
	font-family: $font-body;
	font-size: 1rem; // 16px
	color: $dark-grey;
}