// standard colors
$white: #FFF;
$black: #000;
$dark-grey: #4A4A4A;
$light-grey: #9B9B9B;
$bright-grey: #E0E0E0;
$off-white: #f7f7f7;

// icon colors
$twitter-blue: #0084FF;
$google-red: #D34836;
$facebook-blue: #3B5998;
$facebook-light: #dfe3ee;
$fb-accordion: rgb(108, 138, 204);

// fonts
$font-head: 'Nunito', Helvetica, sans-serif;
$font-body: 'Tajawal', Helvetica, sans-serif;

// media query sizes
$tablet: 768px;
$desktop: 1000px;
$large-desktop: 1200px;

// breakpoint sizes
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px)  { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}